---
apiVersion: v1
kind: Service
metadata:
  name: storedq-api
spec:
  type: NodePort
  ports:
  - name: http
    port: 7879
  selector:
    storedq: api
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: storedq-api-deployment
spec:
  replicas: 1
  template:
    metadata:
      labels:
        storedq: api
    spec:
      containers:
      - name: api
        image: 127.0.0.1:5000/inu/storedq-api:{{tag_name}}
        imagePullPolicy: IfNotPresent
        resources:
          limits:
            cpu: 500m
            memory: 4Gi
          requests:
            memory: 256Mi
        command:
          - "java"
          - "-Dakka.cluster.roles.0=frontend"
          - "-Dakka.remote.netty.tcp.port=2552"
          - "-Dakka.cluster.seed-nodes.0=akka.tcp://storedq@seed-0.storedq-cluster.default.svc.cluster.local:2551"
          - "-cp"
          - "/app/libs/*:/app/*"
          - "com.inu.frontend.Main"
        ports:
        - containerPort: 7879
        - containerPort: 2552

        env:
          - name: PEER_DISCOVERY_SERVICE
            value: storedq-cluster.default.svc.cluster.local
          - name: ES_TRANSPORT_ADDRESS
            value: elasticsearch-discovery.default.svc.cluster.local
          - name: ES_CLUSTER_NAME
            value: myesdb
          - name: USER_PROFILE_HOST
            value: http://deployd.default.svc.cluster.local:2403