<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%replace(%thread){'-akka.actor.default-dispatcher-', '-d'} %highlight(%-5level) %replace(%msg%n){'akka.tcp://', ''}</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>